{
  "ConnectionStrings": {
    "DefaultConnection": "server=.;initial catalog=DynamicTree;Trusted_Connection=True;multipleactiveresultsets=True;application name=EntityFramework;TrustServerCertificate=True"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}